{% extends "base.html" %}

{% block title %}Privacy Policy - DataHub{% endblock %}

{% block content %}
  <h1>Privacy Policy</h1>
  <p>
    Safe Drive Africa is an offshoot from a research effort to improve drivers driving behaviour in non-western countries, specifically Nigeria. You are taking part in this experiment to evaluate the app. This project is domiciled at the University of Aberdeen, Scotland United Kingdom.
    Data will be stored and managed in line with all relevant University of Aberdeen policies including the Data Protection Policy, Information Security Policy, and Research Data Management Policy, Guidance and the Nigerian Data Protection Law. The data collected, which is all together anonymous data, will be stored in the university shared storage drive as soon as they are received, the data may thereafter be moved to the university of Aberdeen’s Data repository and may be finally deleted after 5 years from the University of Aberdeen’s Data Repository. Also note, that appropriately anonymised data may be made available to others in the future for research purposes.We collect this information to conduct academic research, manage the research project and to publish our research findings. The University undertakes and publishes research under its statutory powers. These powers are laid out in the Universities (Scotland) Acts 1858 - 1966.
  </p>
{% endblock %}
